@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3eaf4;
}

header.nav-bar {
  background-color: #e5cedc;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75px;
}

.selectDiv {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 20px auto 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: auto;
  background-color: #fafafa;
  -webkit-box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.747);
          box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.747);
}

#SelectBook {
  width: auto;
}

h3 {
  margin: 10px;
}

select {
  font-weight: 700;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 10px;
  border: none;
  background-color: red;
  -webkit-appearance: none;
  height: 45px;
  width: 45px;
  background-color: #8f9491;
}

option {
  background-color: #fafafa;
}

main {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid pink;
}

footer {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5cedc;
  height: 45px;
  width: 100%;
}

p {
  font-size: 22px;
  padding: 7px;
  margin: 7px;
  border: 1px solid #bca3ac;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.336);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.336);
}

p span {
  font-weight: 800;
}

.ChapterButton {
  width: auto;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  padding: 3px;
  margin: auto 20px auto 20px;
}

@media only screen and (max-width: 690px) {
  
header{
  height: 60px !important;
}

  p{
    font-size: 11px;
  }

  body{
    width: 100%;
  }

  .selectDiv h3{
    display: none;
  }

  .selectDiv{
    height: 35px;
    margin: auto;
  }

#SelectBook{
  width: auto;
}

  select{
    padding: 5px;
    font-size: 11px;
    height: 35px;
    width: 35px;
  }

  main{
    width: 100%;
  }

  footer{
    height: 30px;
  }

  .ChapterButton{
    font-size: 11px;
  }

}



/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3eaf4;
}

header.nav-bar {
  background-color: #e5cedc;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75px;
}

.selectDiv {
  height: 45px;
  display: flex;
  margin: auto 20px auto 20px;
  justify-content: center;
  align-items: center;
  padding: auto;
  background-color: #fafafa;
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.747);
}

#SelectBook {
  width: auto;
}

h3 {
  margin: 10px;
}

select {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  text-align: center;
  padding: 10px;
  border: none;
  background-color: red;
  -webkit-appearance: none;
  height: 45px;
  width: 45px;
  background-color: #8f9491;
}

option {
  background-color: #fafafa;
}

main {
  width: 85vw;
  display: flex;
  flex-direction: column;
  border: 1px solid pink;
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5cedc;
  height: 45px;
  width: 100%;
}

p {
  font-size: 22px;
  padding: 7px;
  margin: 7px;
  border: 1px solid #bca3ac;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.336);
}

p span {
  font-weight: 800;
}

.ChapterButton {
  width: auto;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  padding: 3px;
  margin: auto 20px auto 20px;
}

@media only screen and (max-width: 690px) {
  
header{
  height: 60px !important;
}

  p{
    font-size: 11px;
  }

  body{
    width: 100%;
  }

  .selectDiv h3{
    display: none;
  }

  .selectDiv{
    height: 35px;
    margin: auto;
  }

#SelectBook{
  width: auto;
}

  select{
    padding: 5px;
    font-size: 11px;
    height: 35px;
    width: 35px;
  }

  main{
    width: 100%;
  }

  footer{
    height: 30px;
  }

  .ChapterButton{
    font-size: 11px;
  }

} */
